html {
  font: normal 100%/1.5 Martel, serif;
  background-color: #fff;
  color: #000;
}

header {
  justify-content: space-between;
  background-color: #daa520;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-family: Assistant, sans-serif;
}

nav a {
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

.banner-image {
  position: relative;
  overflow: hidden;
}

.banner-title {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  top: 450px;
}

.btn {
  background-color: #daa520;
  border-color: #daa520;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 1em;
  color: #000;
}

.signup {
  left: 900px;
  bottom: 500px;
}

.products {
  left: 100px;
  top: 10px;
}

.btn:hover {
  background-color: #191970;
  border-color: #191970;
  color: #fff;
}


caption,
th,
td {
  text-align: center;
}

footer {
  justify-content: space-between;
  background-color: #daa520;
  text-align: center;
}

embed:focus {
  outline: none;
}
