html {
  font: normal 100%/1.5 Martel, serif;
  background-color: #fff;
  color: #000;
}

header {
  justify-content: space-between;
  background-color: #daa520;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-family: Assistant, sans-serif;
}

ul {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.banner {
  position: relative;
  display: block;
}

.banner-title {
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  width: 100%;
  left: 50%;
  top: 50%;
}

.btn {
  background-color: #191970;
  border-radius: 5px;
  text-align: center;
  padding: .5em;
  color: #fff;
}

.btn a:hover {
  background-color: #daa520;
  color: #000;
}

img {
  display: inline;
}

footer {
  justify-content: space-between;
  background-color: #daa520;
}
